html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    font-family: 'Fjalla One', sans-serif;
    margin-top: 0;
}

body,
p,
span {
    font-family: 'Noto Sans', sans-serif;
}
